body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: #f5f5f5; }

.App {
  display: flex;
  text-transform: capitalize; }
  .App p, .App li {
    font-size: 14px; }
  .App .sideMenu {
    width: 300px;
    min-height: 100vh;
    height: 100%;
    padding: 30px 20px 20px;
    background-color: #e8e8e8;
    border-right: 2px solid #c2c2c2; }
    .App .sideMenu h4 {
      color: #FFFFFF;
      background-color: #6b9099;
      padding: 15px;
      margin-bottom: 0;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px; }
    .App .sideMenu button {
      width: 100%;
      text-transform: capitalize;
      display: block;
      background-color: #FFFFFF;
      color: #6b9099;
      border: none;
      cursor: pointer;
      min-width: 100px;
      text-align: left;
      font-size: 14px;
      padding: 15px;
      font-weight: 500; }
      .App .sideMenu button:hover {
        text-decoration: underline; }
    .App .sideMenu .subNav {
      display: none; }
      .App .sideMenu .subNav button {
        padding: 10px 25px 10px; }
    .App .sideMenu .active + .subNav {
      display: block; }
    .App .sideMenu .sectionParent {
      border-top: 1px solid #e8e8e8;
      color: #6b9099; }
      .App .sideMenu .sectionParent.active {
        color: #535156;
        text-decoration: underline;
        font-weight: bold; }
  .App .mainSection {
    padding: 30px 150px;
    width: 100%; }
    .App .mainSection h2 {
      color: #6b9099;
      font-weight: 500;
      text-align: left; }
    .App .mainSection article {
      background-color: #FFFFFF; }
      .App .mainSection article caption {
        color: #6b9099;
        font-weight: 500;
        font-size: 18px;
        padding: 10px;
        margin: 0; }
      .App .mainSection article table {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #e8e8e8; }
