$white: #FFFFFF;
$light_grey: #f5f5f5;
$grey: #e8e8e8;
$dark_grey: #535156;
$teal: #6b9099;
$light_blue: #f2f6f7;

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: $light_grey;

}

.App {
	display: flex;
	text-transform: capitalize;

	p, li {
		font-size: 14px;
	}

	// SIDE NAV STYLES

	.sideMenu {
		min-width: 300px;
		min-height: 100vh;
		height: 100%;
		padding: 30px 20px 20px;
		background-color: $grey;
		border-right: 2px solid darken($grey,15%);

		h4{
			color: $white;
			background-color: $teal;
			padding: 15px;
			margin-bottom: 0;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 16px;
		}

		button{
			width: 100%;
			text-transform: capitalize;
			display: block;
			background-color: $white;
			color: $teal;
			border: none;
			cursor: pointer;
			min-width: 100px;
			text-align: left;
			font-size: 14px;
			padding: 15px;
			font-weight: 500;

			&:hover{
				text-decoration: underline;
			}
		}

		.subNav {
			display: none;
			button{
				padding: 10px 25px 10px;
			}
		}

		.active{
			 + .subNav {
				display: block;
			}
		}

		.sectionParent {
			border-top: 1px solid $grey;
			color: $teal;
			&.active{
				color: $dark_grey;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}


	// MAIN SECTION STYLES
	.mainSection {
		padding: 30px 150px;
		width: 100%;

		h2{
			color: $teal;
			font-weight: 500;
			text-align: left;
		}

		article {
			background-color: $white;
			border: 1px solid $grey;
			margin-bottom: 15px;

			caption {
				color: $teal;
				font-weight: 500;
				font-size: 18px;
				padding: 10px;
				margin: 0;
			}
			table {
				width: 100%;
				padding: 10px;

				thead {
					background-color: $light_blue;
					td{
						padding: 10px;
					}
				}
				
				li{
					list-style: none;
				}
			}
		}
		
	}
}