// Colors
$white: #FFFFFF;
$light_grey: #f5f5f5;
$grey: #e8e8e8;
$dark_grey: #535156;
$teal: #6b9099;
$light_blue: #f2f6f7;
$pink: #bd75a0;

//Grid
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-xl: 1200px;


//TO DO: convert font sizes to REM

body {
  margin: 0;
  font-family: helvetica;
  background-color: $light_grey;
  font-size: 14px;
}

.App {
	display: flex;
	text-transform: capitalize;

	// SIDE NAV STYLES

	.sideMenu {
		min-width: 300px;
		min-height: 100vh;
		height: 100%;
		padding: 30px 20px 20px;
		background-color: $grey;
		border-right: 2px solid darken($grey,15%);

		h4{
			color: $white;
			background-color: $teal;
			padding: 15px;
			margin-bottom: 0;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 1.143em;
		}

		button{
			width: 100%;
			text-transform: capitalize;
			display: block;
			background-color: $white;
			color: $teal;
			border: none;
			cursor: pointer;
			min-width: 100px;
			text-align: left;
			font-size: 1em;
			padding: 15px;
			font-weight: 500;

			&:hover{
				text-decoration: underline;
			}
		}

		.subNav {
			display: none;
			button{
				padding: 10px 25px 10px;
				&:hover, .selected{ color: $pink }
			}
		}

		.active{
			 + .subNav {
				display: block;
			}
		}

		.sectionParent {
			border-top: 1px solid $grey;
			color: $teal;
			&.active{
				color: $dark_grey;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}


	// MAIN SECTION STYLES
	.mainSection {
		padding: 30px 30px;
		width: 100%;

		@media (min-width: $breakpoint-desktop-xl) {
			padding: 30px 75px;
		}

		h2{
			color: $teal;
			font-weight: 500;
			text-align: left;
		}

		article {
			background-color: $white;
			border: 1px solid $grey;
			margin-bottom: 15px;

			h2 {
				font-size: 1.286em;
				padding: 10px;
				margin: 0;
			}
		}

	
		table {
			width: 100%;
			padding: 10px;

			thead {
				background-color: $light_blue;
				font-size: 1.071em;
			}

			td {
				padding: 10px;
				width: 33%;
			}

			code {
				color: $pink;
			}
			
			li{
				list-style: none;
			}
		}
	}
}